/*
#e8fdfe; azul
#fa7bb0; rosa
#168f9d; azul verdoso

*/

.header {
	display: flex;
	flex-direction: row;
	width: 100vmax;
	height: 5em;
	
}



.containerButtons {
	display: flex;
	flex-direction: row;

}

.buttonRegister {
	display: flex;
	flex-direction: column;
	background-color: #FFB6C1;
	justify-content: center;
	align-items: center;
	width: 5em;
	height: 2em;
	text-align: center;
	cursor: pointer;
	color: white;
	font-size: 1.5em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Poner Fuente de la IMG PIÑOS CLEAN */
	border-radius: .3em;
	position: absolute;
	margin-top: 4em;
	margin-left: 5em;
}
  
.buttonRegister:hover {
	display: flex;
	flex-direction: column;
	background-color: #fa7bb0;
	justify-content: center;
	align-items: center;
	width: 5em;
	height: 2em;
	text-align: center;
	cursor: pointer;
	color: white;
	font-size: 1.5em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Poner Fuente de la IMG PIÑOS CLEAN */
	border-radius: .3em;
	position: absolute;
	margin-top: 4em;
	margin-left: 5em;
}
  
  
.buttonLogin {
	
	  display: flex;
	  flex-direction: column;
	  background-color: #FFB6C1;
	  justify-content: center;
	  align-items: center;
	  width: 6em;
	  height: 2em;
	  text-align: center;
	  cursor: pointer;
	  color: white;
	  font-size: 1.5em;
	  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Poner Fuente de la IMG PIÑOS CLEAN */
	  border-radius: .3em;
	  position: absolute;
	  margin-top: 4em;
	  margin-left: 11.5em;
	
  }
  
.buttonLogin:hover {
	
	display: flex;
	flex-direction: column;
	background-color: #fa7bb0;
	justify-content: center;
	align-items: center;
	width: 6em;
	height: 2em;
	text-align: center;
	cursor: pointer;
	color: white;
	font-size: 1.5em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Poner Fuente de la IMG PIÑOS CLEAN */
	border-radius: .3em;
	position: absolute;
	margin-top: 4em;
	margin-left: 11.5em;
  
}


/* Vista Login */

.customerName {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10em;
	height: 4em;
	margin-left: 2.6em;
	font-size: 2.1em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
	font-weight: 1000;
	color: white;

}

.profileButton {
	
	display: flex;
	flex-direction: column;
	background-color: #FFB6C1;
	justify-content: center;
	align-items: center;
	width: 6em;
	height: 2em;
	text-align: center;
	cursor: pointer;
	color: white;
	font-size: 1.5em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Poner Fuente de la IMG PIÑOS CLEAN */
	border-radius: .3em;
	position: absolute;
	margin-top: 6.5em;
	margin-left: 7.5em;
  
}

.profileButton:hover {
  
  display: flex;
  flex-direction: column;
  background-color: #fa7bb0;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 2em;
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 1.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Poner Fuente de la IMG PIÑOS CLEAN */
  border-radius: .3em;
  position: absolute;
  margin-top: 6.5em;
  margin-left: 7.5em;
}

