.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fechas {
  display: flex;
	flex-direction: column;
	background-color: #FFB6C1;
	justify-content: center;
	align-items: center;
	width: 5em;
	height: 2em;
	text-align: center;
	cursor: pointer;
	color: white;
	font-size: 1.5em;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Poner Fuente de la IMG PIÑOS CLEAN */
	border-radius: .3em;
	position: absolute;
	margin-top: 4em;
	margin-left: 5em;
}