.masterRegister{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vmin;
}

.spaceColumnRegisterUp {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vmin;
    height: 20vmin;
}

.spaceColumnRegisterDown {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vmin;
    height: 30vmin;
    border-radius: 10px;
}

.containerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    width: 50vmin;
    height: 25em;
    margin: .5em;
    border-radius: 5px;
    box-shadow: 10px 10px 5px black;
}

label {
    margin: .5em;
    margin-top: 1em;
}