.masterRegister{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vmin;
}

.containerLogin{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90em;
  height: 37em;
  margin: 1em;
  background-color: #67c1c1;
  border-radius: 2em;
}

.imgStyleRegister {
  margin-right: 36.8em;
}
