.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spaceUnderHead {
  width: 100vmax;
  height: 2em;
}

.spaceProfileContainer {
  width: 100vmax;
  height: 38vmax;
}