.masterProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vmin;
    background-color: #FFEFD5;
}

.containerProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 90em;
  height: 37em;
  margin: 1em;
  background-color: #67c1c1;
  border-radius: 2em;
}

.masterFormProfile {
  display: flex;
  flex-direction: column;
  background-color: #67c1c1;
  height: 30em;
  width: 30em;

}

.tituloProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: auto;
  height: 4em;
  background-color: lightpink;
  color: white;
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Poner Fuente de la IMG PIﾃ前S CLEAN */
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.perfilForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 30em;
  background-color: #f6f6f6;
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}

.masterAccionesProfile {
  display: flex;
  flex-direction: column;
  background-color: #67c1c1;
  height: 30em;
  width: 30em;
}

.tituloAccionesProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: auto;
  height: 4em;
  background-color: lightpink;
  color: white;
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Poner Fuente de la IMG PIﾃ前S CLEAN */
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.accionesProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 30em;
  background-color: #f6f6f6;
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}


.logoutContainer {
  display: flex;
  flex-direction: column;
  background-color: lightpink;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 2em;
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 1.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Poner Fuente de la IMG PIﾃ前S CLEAN */
  border-radius: .3em;
  position: absolute;
  margin-top: 10em;
  margin-left: 12em;
}

.logoutContainer:hover {
  display: flex;
  flex-direction: column;
  background-color: #fa7bb0;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 2em;
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 1.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Poner Fuente de la IMG PIﾃ前S CLEAN */
  border-radius: .3em;
  position: absolute;
  margin-top: 10em;
  margin-left: 12em;

}























/* LOADER */

.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: black;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}