/* 
#67c1c1;
#ffe4b5;
#FFB6C1
#fa7bb0
*/

.masterHome {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  height: auto;
  top:0;
  left:0;
  background-color: #FFEFD5;
}


.containerHeader {
  display: flex;
  width: auto;
  flex-direction: row;
  justify-content: center;
  background-color: #67c1c1;

}

.navbar {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 3em;
  background-color: #FFB6C1

}

.containerHomeMainUser {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5em;
}

.containerMain {
  display: flex;
  flex-direction: row;
  width: 60em;
  height: 20em;
  background-color: #FFEFD5;
  border-radius: 1.5em;
  padding: 1em;
}

.sectionMain {
  display: flex;
  flex-direction: row;
  width: 60em;
  height: 20em;
  background-color: #67c1c1;
  border-radius: 1.5em;
}



.containerUser {
  display: flex;
  flex-direction: row;
  width: 25em;
  height: 20em;
  background-color: #FFEFD5;
  border-radius: 1.5em;
  margin-left: 10em;
  padding: 1em;
}

.imgDoc {
  display: flex;
  width: 10em;
  height: 20em;
  margin-left: 3em;
}

.tituloMain {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20em;
  height: 10em;
  background-color: transparent;
  position: absolute;
  margin-left: 14em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  font-weight: 1000;
  color: white;
}

.sectionUser {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30em;
  height: 20em;
  background-color: #67c1c1;
  border-radius: 1.5em;
}

.imgUser {
  display: flex;
  width: 10em;
  height: 10em;
  margin-top: 5em;
}

.buttonRegisterHome {
  display: flex;
  flex-direction: column;
  background-color: lightpink;
  justify-content: center;
  align-items: center;
  width: 5em;
  height: 2em;
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 1.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Poner Fuente de la IMG PIÑOS CLEAN */
  border-radius: .3em;
  position: absolute;
  margin-top: 4em;
  margin-left: 4em;
}

.buttonRegisterHome:hover {
  display: flex;
  flex-direction: column;
  background-color: #fa7bb0;
  justify-content: center;
  align-items: center;
  width: 5em;
  height: 2em;
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 1.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Poner Fuente de la IMG PIÑOS CLEAN */
  border-radius: .3em;
  position: absolute;
  margin-top: 4em;
  margin-left: 4em;
}


.buttonLoginHome {
  
    display: flex;
    flex-direction: column;
    background-color: lightpink;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 2em;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Poner Fuente de la IMG PIÑOS CLEAN */
    border-radius: .3em;
    position: absolute;
    margin-top: 4em;
    margin-left: 10.5em;
  
}

.buttonLoginHome:hover {
  
  display: flex;
  flex-direction: column;
  background-color: #fa7bb0;
  justify-content: center;
  align-items: center;
  width: 5em;
  height: 2em;
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 1.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Poner Fuente de la IMG PIÑOS CLEAN */
  border-radius: .3em;
  position: absolute;
  margin-top: 4em;
  margin-left: 10.5em;

}


.spaceRow {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 1em;
  background-color: #FFEFD5;
}

.superGridContainer {
  display: grid;
  width: 132em;
  height: 50em;
  margin: auto;
  background-color: #FFEFD5;
  border-radius: 1em;
}

.gridContainer {
  display: grid;
  width: 104em;
  height: 40em;
  text-align: center;
  grid-template-columns: 25em 25em 25em 25em;
  grid-template-rows: 40em;
  justify-content: space-between;
  margin: auto;
  background-color:  #67c1c1;
  border-radius: 1.5em;
  padding: 2em;
  margin-top: 4em;
}

.backgroundGrid {
  display: flex;
  flex-direction: column;
  background-color: #FFB6C1;
  border-radius: 1em;
}


.tittleGrid {
  display: grid;
  align-self: center;
  align-content: center;
  width: 12.5em;
  height: 3em;
  background-color: #fa7bb0;
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  font-weight: 1000;
  font-size: 2rem;
  color: white;
}

.containerIconGrid {
  display: flex;
  justify-content: center;
  height: 10em;
  margin-top: 2em;
}

.parrafo {
  display: flex;
  justify-content: center;
  align-self: center;
  color: white;
  font-weight: 1000;
  font-size: 1.4em;
  margin-top: 2em;
  text-align: center;
  width: 15em;
}

.spaceRowColor {
  width: auto;
  height: 3em;
  background-color: #FFB6C1;
  margin-top: 2.5em;
}

.footerContainer {
  display: flex;
  width: auto;
  height: 30em;
  background-color: #67c1c1;
}

.footerImg {
 display: flex;
 margin: auto;
}

/*
.spaceRowHome {
  width: 100vmax;
  height: 10em;
  background-color: white;
}

.spaceBtwHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vmax;
  height: 8em;
  background-color: white;

}

.carouselContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vmax;
  height: 250m;
}

.styleImg {
  width: 99vmax;
  height: 30vmax;
}

.spaceColumnHome {
  display: flex;
  height: 10em;
  width: 50em;
  background-color: white;
}

.masterCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  height: 22em;
}

.footerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vmax;
  height: 10em;
	background-color: #168f9d;
}

.welcomeMessage {
  font-size: 30px;
  text-align:center;
}

.descriptionMessage {
  margin-top: 2em;
}

*/