/* #67c1c1; */

.masterHome {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  height: auto !important;
  position: fixed;
  top:0;
  left:0;
  background-color: red;
}


.containerHeader {
  display: flex;
  width: auto;
  flex-direction: row;
  justify-content: center;
  background-color: #67c1c1;

}

.navbar {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 4em;
  background-color: black;

}

/*
.spaceRowHome {
  width: 100vmax;
  height: 10em;
  background-color: white;
}

.spaceBtwHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vmax;
  height: 8em;
  background-color: white;

}

.carouselContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vmax;
  height: 250m;
}

.styleImg {
  width: 99vmax;
  height: 30vmax;
}

.spaceColumnHome {
  display: flex;
  height: 10em;
  width: 50em;
  background-color: white;
}

.masterCardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  height: 22em;
}

.footerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vmax;
  height: 10em;
	background-color: #168f9d;
}

.welcomeMessage {
  font-size: 30px;
  text-align:center;
}

.descriptionMessage {
  margin-top: 2em;
}

*/