.masterLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vmin;
}

.leftImg {
    width: 34.4em;
    height: 34em;
}

.imgStyle {
    width: 20em;
    height: 33em;
}

.containerLogin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90em;
    height: 37em;
    margin: 1em;
    background-color: #67c1c1;
    border-radius: 2em;
}
.masterForm {
    display: flex;
    flex-direction: column;
    height: 30em;
    width: 40em;

}

.tituloLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: auto;
    height: 4em;
    background-color: lightpink;
    color: white;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Poner Fuente de la IMG PIÑOS CLEAN */
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.loginForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 30em;
    background-color: #f6f6f6;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
  
  }

.loginFormA {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 7em;
    margin-right: 12em;
    width: 20em;
    height: 10em;
    background-color: #f6f6f6;
    font-size: 1.1em;
}

.inputLoginContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 3em;
    background-color: #f6f6f6;
}

.containerSendLogin {
    display: flex;
    flex-direction: column;
    background-color: lightpink;
    justify-content: center;
    align-items: center;
    width: 6em;
    height: 2em;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Poner Fuente de la IMG PIÑOS CLEAN */
    border-radius: .3em;
    position: absolute;
    margin-top: 16.5em;
    margin-left: 5.8em;
}

.containerGoToRegister {
    display: flex;
    flex-direction: column;
    background-color: lightpink;
    justify-content: center;
    align-items: center;
    width: 6em;
    height: 2em;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Poner Fuente de la IMG PIÑOS CLEAN */
    border-radius: .3em;
    position: absolute;
    margin-top: 16.5em;
    margin-left: 15em;
}

.containerSendLogin:hover {
    display: flex;
    flex-direction: column;
    background-color: #fa7bb0;
    justify-content: center;
    align-items: center;
    width: 6em;
    height: 2em;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Poner Fuente de la IMG PIÑOS CLEAN */
    border-radius: .3em;
    position: absolute;
    margin-top: 16.5em;
    margin-left: 5.8em;
}

.containerGoToRegister:hover {
    display: flex;
    flex-direction: column;
    background-color: #fa7bb0;
    justify-content: center;
    align-items: center;
    width: 6em;
    height: 2em;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Poner Fuente de la IMG PIÑOS CLEAN */
    border-radius: .3em;
    position: absolute;
    margin-top: 16.5em;
    margin-left: 15em;
}