.masterLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vmin;
}

.spaceColumnLogin {
    display: flex;
    flex-direction: column;
    width: 100vmin;
    height: 40em;
}

.containerLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    width: 50vmin;
    height: 50em;
    margin: 1em;
    border-radius: 5px;
    box-shadow: 10px 10px 5px black;
}

.loginForm {
    border-radius: 0.4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em;
}

.spaceBetweenHead {
    width: 100vmax;
    height: 25em;
}

.register {
    margin-top: 1em;
    cursor: pointer;
}

.register:hover {
    color: blue;
}